<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Raleway:wght@200;300&display=swap" rel="stylesheet">
<app-top-line></app-top-line>
<app-line-of-buttons></app-line-of-buttons>
<router-outlet name="board-line"></router-outlet>
<!-- <router-outlet name="full-board"></router-outlet> -->
<app-full-board-information></app-full-board-information>
<app-footer></app-footer>
