
button{
  background-color: #60a77b;
  border: 0px;
  height: 50px;
  border-radius:10px;
  color:white;
  padding:10px;
}
.flex-container{
  margin-top:50px;
  margin-bottom:50px;
  display:flex;
  flex-direction: row;
  justify-content:space-around;
  gap:10px;
  align-items: center;
}
p{
  padding-right:28%;
  font-size: 1.5em;
}
input{
  height:20px;
}

.flex-column-container{
  display:flex;
  flex-direction: column;
  gap:10px;
  width:200px;
  color:white;
  background-color: #afcab7;
  text-align:center;
  position:absolute;
  box-shadow: 8px 8px 8px 8px rgba(30, 30, 30, 0.2), 0 6px 20px 0 rgba(23, 23, 23, 0.19);
  border:2px solid #1f4c3a;
}

.relative-position{
  position:relative;
}

.flex-column-item{
  margin:5px;
  border:1px solid white;
  transition: .5s;
}

.flex-column-item:hover{
  margin:5px;
  border:1px solid #1f4c3a;
  color:#1f4c3a;
  transform: scale(1.05);
}

.sort-p{
  margin:0px;
  padding:0px;
  font-size:1em;
  width:204px;
  background-color: #60a77b;
  text-align: center;
  color:white;
}

.sort-options:hover{
  background-color: #1f4c3a;
}

.darkBtn{
  background-color: #1f4c3a;
}




