<div class="flex-container">
  <p class="dash" routerLink="/">Dashboard</p>
  <input (keyup)="emit();" id="input-name" [(ngModel)]="inputName" >
  <div class="relative-position m-l-10"> <p class="sort-p sort-options" (click)="clickDropDown()">Sort options</p>
    <p class="sort-p">{{sort | uppercase}}</p>
    <div  *ngIf="!downDropHidden && !db.disableWhileEditing" class="flex-column-container">
      <div class="flex-column-item" *ngFor="let name of optionNames" (click)="passOption(name)">{{name}}</div>
    </div>
  </div>
  <button [ngClass]="{'darkBtn': buttonChoose1 && !db.disableWhileEditing }" (click)="push1()">ASC</button>
  <button [ngClass]="{'darkBtn': buttonChoose2 && !db.disableWhileEditing}" (click)="push2()">DESC</button>
</div>


