.flex-container{
  text-align:center;
  margin: 30px;
  display:flex;
  flex-direction: row;
  gap:20px;
  justify-content: center;
  color:white;
}

.item{
  min-height:200px;
  width:30%;
  background-color: #afcab7;
}

.do{
  border:1px solid white;
  min-height:50px;
  align-self: middle;
  width:100%;
  word-wrap: break-word;
  padding-top: 10px;
}

.do textarea{
  width:100%;
  margin-top:20px;
}

b{
  background-color: #60a77b;
  border-radius: 5px;
  font-size: 1.2em;
}

.name, .description{
  max-width:300px;

}

.title{
  color:white;
  background-color: #60a77b;
  padding:10px;
  max-width:300px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  border-radius: 10px;
}

.row{
  display:flex;
  flex-direction: row;
}

.small-flex-container{
  display:flex;
  flex-direction:row;
  justify-content: flex-end;
  padding:10px;
}

.icon{
  margin-top:10px;
  margin-right:10px;
  transition: .2s;
}

.icon:hover{
  transform: scale(1.1);
}
