.flex-container{
  text-align:center;
  margin: 30px;
  display:flex;
  flex-direction: row;
  gap:20px;
  justify-content: center;
  color:white;
}
.col{
  width:30%;
}

.name, .description{
  max-width:300px;

}

.title{
  color:white;
  background-color: #60a77b;
  padding:10px;
  max-width:300px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  border-radius: 10px;
}

app-boardlist{
  background-color: #afcab7;
}

.hidden{
  display:none;
}


