<div class="title">
  <h1 class="name">{{board.name}}</h1>
<p class="description">{{board.description}}</p>
</div>

<div class="flex-container">
<app-boardlist class="col" [arr]="board.todo" [listNum]="1" title="To do" [cdkDropListData]="board.todo" [cdkDropListConnectedTo]="[firstList, thirdList]" #secondList="cdkDropList" cdkDropList (cdkDropListDropped)="drop($event, 1)"></app-boardlist>
<app-boardlist class="col" [arr]="board.progress" [listNum]="2" title="In progress" [cdkDropListData]="board.progress" [cdkDropListConnectedTo]="[secondList, thirdList]" cdkDropList  #firstList="cdkDropList" (cdkDropListDropped)="drop($event, 2)" ></app-boardlist>
<app-boardlist class="col" [arr]="board.done" [listNum]="3" title="Done" [doneIcon]="true" [cdkDropListData]="board.done" [cdkDropListConnectedTo]="[firstList, secondList]" cdkDropList  #thirdList="cdkDropList" (cdkDropListDropped)="drop($event, 3)" ></app-boardlist>
</div>
