<div class="flex-container">
  <div class="item"><h2>To do</h2>
  <div class="do add"><b>Add note</b> </div>
  <div class="do"><form [formGroup]="form1" (keyup.enter)="sendToDo()"><textarea formControlName="noteToDo" cols="25" rows="3"></textarea></form></div>
  <div class="do" (click)="showBoard()" *ngFor="let do of board.todo">{{do}}</div>
</div>
  <div class="item"><h2>In progress</h2>
    <div class="do add" (click)="db.boards[id-1].progress.push('Love'); db.addNote(id, db.boards[id-1])"><b>Add note</b></div>
    <div class="do" *ngFor="let prog of board.progress">{{prog}}</div></div>
  <div class="item"><h2>Done</h2>
    <div class="do add" (click)="db.boards[id-1].done.push('Love'); db.addNote(id, db.boards[id-1])"><b>Add note</b></div>
    <div class="do" *ngFor="let dn of board.done">{{dn}}</div>
  </div>
</div>
