<div class="flex-container">
  <div class="add-component">
    <form [formGroup]="form" (ngSubmit)="addBoard()">
      <input formControlName="name" type="text" placeholder="Name" [ngStyle]="{color:'black'}">
      <p *ngIf="name.errors?.minlength && name.touched">Enter at least 5 symbols</p>
      <textarea formControlName="description" rows="4" placeholder="Description" [ngStyle]="{color:'black'}"></textarea>
      <p *ngIf="description.errors?.minlength && description.touched">Enter at least 5 symbols</p>
      <button>Add new board</button>
    </form>
  </div>
  <div class="board" *ngFor="let board of boards | filterBoards:keyService.key "> <app-board [board]="board"></app-board></div>
</div>
