*{
  color:white;
}

.add-component p{
  margin:0px;
  padding: 0px;
  color:red;
  font-size: 0.8em;
}
.add-component{
  width:200px;
  min-height:200px;
  display:flex;
  flex-direction: column;
  align-items: center;
  background-color: #afcab7;
  justify-content: center;
  font-weight: bold;
}
button{
  background-color: #60a77b;
  border: 0px;
  height: 50px;
  border-radius:10px;
  color:white;
  padding:10px;
}

.add-component form{
  display:flex;
  flex-direction: column;
  align-items: center;
  gap:10px;
}

.flex-container{
  margin: 50px;
  display:flex;
  flex-direction: row;
  gap:20px;
  align-items: center;
  flex-wrap:wrap;
}

.board{
  width:200px;
  min-height:200px;
  background-color: #afcab7;
  text-align: center;
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


