div{
  width:200px;
}
h4, p{
  width:100%;
  word-wrap: break-word;
}
hr{
  color:white
}

button{
  background-color: #60a77b;
  border: 0px;
  height: 50px;
  border-radius:10px;
  color:white;
  padding:10px;
}

.darkBtn{
  background-color: #1f4c3a;
}

h4:hover{
  color:#60a77b;
  transform: scale(1.2);
}

.icon-container{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.icon{
  margin-right:10px;
  transition: .2s;
}

.icon:hover{
  transform: scale(1.1);
}
