<div class="item">
  <h2>{{title}}</h2>
  <div class="do add" (click)="isVisibleForm=!isVisibleForm">
    <b *ngIf="!isVisibleForm">Add note</b>
    <b *ngIf="isVisibleForm">Hide note field</b>
  </div>
  <div class="do" *ngIf="isVisibleForm">
    <form [formGroup]="form" (keyup.enter)="sendNote()">
      <textarea formControlName="note" cols="25" rows="3"></textarea>
    </form>
  </div>
  <div class="do" cdkDrag *ngFor="let task of arr; index as i">
    <span (mousedown)="$event.stopPropagation()" contenteditable="true" (keyup.enter)="pushEdited($event, i, listNum)">{{task.task}}</span>
    <div class="small-flex-container">
      <img *ngIf="doneIcon" class="icon" height="20" width="20" src="assets/check.png" alt="Check icon"/>
      <img (click)="comment(i)" class="icon" height="20" width="20" src="assets/bubble-chat.png" alt="Comment icon"/>
      <img (click)="deleteNote(listNum, task.task)" class="icon" height="20" width="20" src="assets/delete.png" alt="Delete icon"/>
    </div>
  </div>
</div>
