.row{
  display:flex;
  flex-direction: row;
}
.item{
  display:flex;
  flex-direction: column;
  min-height:200px;
  width:100%;
  background-color: #afcab7;
}
.do{
  border:1px solid white;
  min-height:50px;
  align-self: middle;
  width:100%;
  word-wrap: break-word;
  padding-top: 10px;
}
.small-flex-container{
  display:flex;
  flex-direction:row;
  justify-content: flex-end;
  padding:10px;
}
.icon{
  margin-top:10px;
  margin-right:10px;
  transition: .2s;
}
.icon:hover{
  transform: scale(1.1);
}
.do textarea{
  width:80%;
  margin-bottom: 7px;
}
b{
  background-color: #60a77b;
  border-radius: 5px;
  font-size: 1.2em;
}
